.orderButton{
  padding: 0.5rem 1rem;
  justify-content: center;
  text-align: center;
  margin: auto;
  margin-top: 5px;
  font-size: 20px;
  border-radius: 5px;
  display:flex;
  font-size: 1rem;
  display:flex;
  grid-template-columns: repeat(5, auto;);
  text-decoration: none;
  transition: all 0.2s ease-out;
  font-family: 'Bellefair', serif;
}

h5{
  font-size: 20px;
  text-align: right;
  color: #ffffff;
  font-family: 'Bellefair', serif;
  text-decoration: underline;
}

h6{
font-size: 30px;
text-align: center;
color: #ffffff;
font-family: 'Bellefair', serif;
}

h7{
font-size: 30px;
text-align: center;
color: #ffffff;
font-family: 'Bellefair', serif;
}

.btn-success{
  font-size: 20px;
  text-align:center;
}