/* [23:50, 5.4.2021] Ghazal Mallak: input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  float: right;
  text-align: right;
  background-color: rgba(0, 0, 0, 0.7);
} */

input[type=submit] {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}


input[type=submit]:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

textarea{
  height:80px;
  border-radius: 10px;
  border-color: black;
}
.container {
border-radius: 5px;
margin-bottom:20px;
width: 100%;
background: rgba(70, 32, 32, 0.349);
}

.form-control{
width: 100%;
}
.intro {
font-size: 150%;
color: red;
}

.labeltitle{
  direction: rtl;
}

.signup{
  float: right;
}

form1{
background: rgba(0, 0, 0, 0.2);
}

b{
  color:white;
  font-family: 'Bellefair', serif;
  font-size: 20px;
  letter-spacing: 2px;
}

.signupContainer{
  width: 50%;
  margin: auto;
}