.video-js{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}


.vjs-poster{
  border-radius: 10px;
  background-size: cover;
}

.video-js .vjs-big-play-button{
  background-color: rgba(0, 0, 0, 0.7) !important;
}
